@font-face {
    font-family: "roman"; /* Give it a unique name */
    src:
        url("path/to/times-new-roman.woff2") format("woff2"),
        url("path/to/times-new-roman.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
        font-family: tahoma, calibri, georgia, arial, sans-serif;
        font-size: 11px;
        color: #dc94a1;
        letter-spacing: 1px;
        line-height: 13px;
        background: #fff7f9
          url(https://64.media.tumblr.com/effebb0ce0a222afb14b9b133deb4f83/14fadfff40e7cda3-7b/s500x750/62c66254c66af1722057f3161fc6629f4388e6de.gifv)
          fixed;
        padding: 20px;
      } */

body {
    cursor: url("https://file.garden/aA2l8ug81GreC0q0/miku/pixel/BlinkingCursor.gif"), auto;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background: #f2f8f9 url(https://file.garden/aA2l8ug81GreC0q0/assets/08700d6c.png) fixed;
    color: #918d84;
    padding: 20px;
    font-size: 11px;
    letter-spacing: 1px;
    text-align: left;
    line-height: 13px;
    display: flex;
    justify-content: center;
}

i {
    color: #87bffb;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 1px;
}

/* Links */
a {
    color: #94afff;
    text-decoration: none;
    font-weight: bold;
    cursor: url("https://file.garden/aA2l8ug81GreC0q0/miku/pixel/KotatsuCursor.gif"), auto;
}
a:hover {
    color: #a2cfff;
    text-decoration: none;
    cursor: url("https://file.garden/aA2l8ug81GreC0q0/miku/pixel/KotatsuCursor.gif"), auto;
}
.extra {
    display: block;
    font-size: 12px;
    padding-left: 10px;
    margin-bottom: 4px;
    color: #94afff;
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #2b91ac;
    border: 1px solid #fff;
    border-radius: 6px;
}
::-webkit-scrollbar {
    width: 6px;
    height: 0px;
    background: transparent;
}

/* Boxes and Titles */
.box {
    background: #f0f5fd;
    padding: 5px;
    border: 1px dashed #c3c6e5;
    border-radius: 10px;
}
.title {
    font:
        italic 15px "georgia",
        arial;
    font-weight: bold;
    color: #94afff;
    text-transform: lowercase;
    letter-spacing: 3px;
    margin-bottom: 5px;
    border-bottom: 2px solid #2b91ac;
}
.title-filled {
    background: #94afff;
    text-align: center;
    font:
        italic 13px "georgia",
        arial;
    font-weight: bold;
    color: #fff;
    text-transform: lowercase;
    letter-spacing: 3px;
    margin-bottom: 4px;
    padding: 1px;
    border-radius: 10px;
}

/* Layout */
.container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background: #f0f5fd;
    padding: 10px;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-image: url("https://file.garden/aA2l8ug81GreC0q0/border/frill-2.png") 8 fill round;
}

/* Header / Site name */
.sitename {
    color: #94afff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font:
        italic 26px "roman",
        georgia,
        arial;
}

/* Navigation */
.nav-bar {
    margin-top: 0px;
    background: transparent;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.nav-bar a {
    color: #94afff;
    text-decoration: none;
    cursor: url("https://file.garden/aA2l8ug81GreC0q0/miku/pixel/KotatsuCursor.gif"), auto;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
    font-family: georgia, arial;
    padding-bottom: 0px;
    font-size: 11px;
    line-height: 15px;
    background: #fff;
    padding: 2px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px dashed #c3c6e5;
    border-radius: 10px;
}

.nav-bar a:hover {
    color: #a2cfff;
    text-decoration: none;
    cursor: url("https://file.garden/aA2l8ug81GreC0q0/miku/pixel/KotatsuCursor.gif"), auto;
}

/* Main / Content area */
.content {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.column {
    flex: 1;
    border-radius: 10px;
    padding: 3px;
    text-align: justify;
}

.largecolumn {
    flex: 2;
    border-radius: 10px;
    padding: 3px;
    text-align: justify;
}

/* Footer */
.footer {
    background: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border: 1px dashed #c3c6e5;
    border-radius: 20px;
}

/* Responsiveness */
@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }

    .nav-bar {
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }
    .nav-bar a {
        display: block;
        width: 60%;
        text-align: center;
    }
}
/* credit to atinytrashbag.neocities.org!! */
.logbox-container {
    display: flex;
    justify-content: center; /* centers horizontally */
    /* margin-top: 20px; /* optional: space from top */
}

.logbox {
    width: 169px;
    height: 150px;
    overflow: auto;
    border: 1px;
    padding: 3px;

    /* hide scrollbar (Firefox) */
    scrollbar-width: none;

    /* hide scrollbar (IE/Edge old) */
    -ms-overflow-style: none;
}

/* hide scrollbar (Chrome, Safari) */
.logbox::-webkit-scrollbar {
    display: none;
}

/* silly scrollbar */
.scroll-container {
    display: flex;
    justify-content: center; /* centers horizontally */
    /* margin-top: 20px; /* optional: space from top */
}

.scroll {
    width: 170px;
    height: 300px;
    overflow: auto;
    border: 1px;
    padding: 3px;

    /* hide scrollbar (Firefox) */
    scrollbar-width: none;

    /* hide scrollbar (IE/Edge old) */
    -ms-overflow-style: none;
}

/* hide scrollbar (Chrome, Safari) */
.logbox::-webkit-scrollbar {
    display: none;
}
/* sites scrollbar */
.sites-container {
    display: flex;
    justify-content: center; /* centers horizontally */
    /* margin-top: 20px; /* optional: space from top */
}

.sites {
    width: 170px;
    height: 120px;
    overflow: auto;
    border: 1px;
    padding: 3px;

    /* hide scrollbar (Firefox) */
    scrollbar-width: none;

    /* hide scrollbar (IE/Edge old) */
    -ms-overflow-style: none;
}

/* hide scrollbar (Chrome, Safari) */
.logbox::-webkit-scrollbar {
    display: none;
}
/* web scrollbar */
.web-container {
    display: flex;
    justify-content: center; /* centers horizontally */
    /* margin-top: 20px; /* optional: space from top */
}

.web {
    width: 170px;
    height: 250px;
    overflow: auto;
    border: 1px;
    padding: 3px;

    /* hide scrollbar (Firefox) */
    scrollbar-width: none;

    /* hide scrollbar (IE/Edge old) */
    -ms-overflow-style: none;
}

/* hide scrollbar (Chrome, Safari) */
.logbox::-webkit-scrollbar {
    display: none;
}
/* STATUS CAFE */
#statuscafe {
    padding: 0.5em;
    background-color: azure;
    border: 1px solid midnightblue;
}
#statuscafe-username {
    margin-bottom: 0.5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}
/* MY CODE */
.center {
    text-align: center;
}
.img {
    border-radius: 10px;
}
hr {
    border: none;
    height: 1px; /* Sets the thickness of the line */
    background-color: #2b91ac; /* Sets the color */
}
/* BUTTON COPY PASTE BOX */
label,
textarea {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 1px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #94afff;
    box-shadow: 1px 1px 1px #a2cfff;
}

label {
    display: block;
    margin-bottom: 10px;
}
